headline  { font-family: arial black, arial; font-size: 28px; letter-spacing: -2px; }
headline2  { font-family: arial black, arial; font-size: 12px; letter-spacing: -2px; color:red }
headline4  { font-family: verdana; font-size: 18px; letter-spacing: -2px; color:blue }
